.modal-content{
  width: 400px;
}

.list-group p{
  margin-bottom: 0px;
   font-weight: bold;
   font-size: 16px;
   color: rgb(167, 165, 165);
}

.list-group i{
  font-size: 18px;
  margin-right: 10px;
}

.list-group li{
  font-weight: bold;
  font-size: 16px;
}
